.container-career {
    .banner {
        background: url(../img/bg-banner.jpg) no-repeat;
        height: 750px;
        background-size: cover;
        background-position-x: 45%;
        position: relative;
    
        &__content {
            color: white;
            position: absolute;
            top: 25%;
    
            h3 {
                font-size: 4.6rem;
                line-height: 5.4rem;
                margin-bottom: 2rem;
            }
    
            p {
                font-size: 1.8rem;
                margin-bottom: 6rem;
            }
    
            a {
                    padding: 16px 62px;
                    border-radius: 50px;
                    background-color: var(--button-color);
                    font-size: 2.2rem;
                    text-decoration: none;
                    color: inherit;
                }
        }
    }
    
    .body {
        color: var(--text-color);
    
        &__intro-content {
            text-align: center;
    
            h3 {
                font-size: 4.5rem;
            }
    
            p {
                font-size: 1.65rem;
                margin: 25px;
            }
        }
    
        &__intro-img {
            text-align: center;
            margin-top: 30px;
    
            img {
                width: 22%;
                margin: 0 16px;
            }
        }
    
        &__info {
            display: flex;
            margin-top: 50px;
            
            &-content {
                flex: 1;
                display: flex;
    
                &-number {
                    margin-left: 34px;
    
                    h3 {
                        font-size: 5rem;
                        margin: 0;
                        margin-top: 3rem;
                    }
    
                    p {
                        font-size: 2.2rem;
                        font-weight: 300;
                    }
                }
            }
        }
    
        &__career {
    
            &-view-more {
                font-size: 1.6rem;
                text-align: right;
    
                a {
                    text-decoration: none;
                    color: #0089ff;;
                }
    
                a:hover {
                    text-decoration: underline;
                }
            }
    
            &-title {
                font-size: 4rem;
                text-align: center;
            }
    
            &-work {
                display: flex;
                justify-content: space-between;
            }
    
            &-list {
                list-style: none;
                width: 48%;
                padding: 0;
    
                p {
                    font-size: 1.4rem;
                }
    
                &-title {
                    flex: 3;
                }
    
                &--italic {
                    font-style: italic;
                    flex: 1;
                    text-align: center;
                }
                
                li {
                    display: flex;
                    border-bottom: 1px solid #eeeeee;
                }
            }
        }
    }
}

.container-career-work {
    .title {
        text-align: center;

        h3 {
            font-size: 4.5rem;
            margin-bottom: 2.5rem;
        }

        p {
            font-size: 1.6rem;
        }
    }

    .career {
        &__list {
            padding: 0;
            list-style: none;

            &-title {
                
            }

            &-info {
                display: flex;

                .tooltip {
                    position: relative;
                    display: inline-block;
                    font-size: 1.4rem;
                    flex: 1;
                  }
                  
                  .tooltip .tooltiptext {
                    visibility: hidden;
                    width: 120px;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 0;
                    position: absolute;
                    z-index: 1;
                    font-size: 1.4rem;
                    left: 0;
                    top: 100%;
                    transition: 0.25s linear;
                    opacity: 0;
                    transform: translateX(-25%);
                  }
                  
                  .tooltip:hover .tooltiptext {
                    visibility: visible;
                    opacity: 1;
                  }
            }
        }
    }
}
